button{
 background-color: cornflowerblue;
 border:none;
 margin:20px 20px;
 height:35px;
 color:white;
 padding;20px, 20px;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    height:auto;
    width:auto;
    
}
th {
    text-align: left;
}